$small: 450px;
$medium: 650px;
$large: 900px;
$xlarge: 1200px;



.AboutMeContainer {
  width: 60vw;
  padding: 100px 20vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px 40px;


  background-color: #3fc1c9;

  @media screen and (max-width: 1092px) {
    flex-wrap: wrap;

    justify-content: center;
  }

  @media screen and (max-width: $small) {
    width: 70vw;
    padding: 100px 15vw;
  }

  img {
    max-width: 100%;
    max-height: 445.217px;
    border-radius: 10px;
  }

}

.AboutMeInfo {

  h1 {
    color: white;
    font-size: clamp(40px, 4vw, 3rem);

    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 6px;
    text-underline-offset: -2px;
    text-decoration-color: #fc5185;

    margin: 0;
  }

  p {
    width: clamp(300px, 35vw, 800px);
    @media screen and (max-width: 893px) {
      width: clamp(300px, 70vw, 600px);
    }
  }
}

.AboutMePortrait {
  display: flex;
  justify-content: center;
}