$small: 450px;
$medium: 650px;
$large: 900px;
$xlarge: 1200px;

.AboutMeContainer {
  width: 80dvw;
  padding: 0 10dvw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px 40px;
  flex-wrap: wrap;

  @media screen and (max-width: 893px) {
    justify-content: center;
  }

  img {
    max-width: 100%;
    max-height: 445.217px;
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.44) 1px solid;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  }

}

.AboutMeInfo {

  h1 {
    color: #364f6b;
    font-size: clamp(40px, 4vw, 3rem);

    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 6px;
    text-underline-offset: -6px;
    text-decoration-color: #3fc2c986;

    margin: 0;
  }

  p {
    width: clamp(300px, 30vw, 600px);
  }
}

.AboutMePortrait {
  padding-right: clamp(0px, 2vw,150px);
  display: flex;
  justify-content: center;

  @media screen and (max-width: 1018px) {
    padding-right: 0px;
  }
}